<div class="annotation-canvas" >
  <!-- ng-click="vm.onClick($event)" -->
  <div class="annotation" ng-repeat="annotation in vm.annotations"
      ng-drag="true"
      ng-drag-stop="vm.onDragComplete($index, $data,$event)"
      style="height: {{annotation.height}}px; width: {{annotation.width}}px; left: {{annotation.x}}px; top: {{annotation.y}}px;"
      >
    {{annotation.type}}
  </div>
</div>
