.annotation-canvas {
  height: 720px;
  width:1280px;
  background: #ccc;
  background-image: url('components/annotation-canvas/download.png');
}


.annotation {
  background: rgba(255,255,255,0.1);
  position: relative;


}
